<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497430701190-bok3d739semba9i75pnigooa1odq08ck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497430701190-bok3d739semba9i75pnigooa1odq08ck</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>497430701190-5q7c88s3andvl1nbnaggva8eu81vknaf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYx9goelJ0uelztbyj5HUCaizM1uld20c</string>
	<key>GCM_SENDER_ID</key>
	<string>497430701190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alqgpit.alqgp</string>
	<key>PROJECT_ID</key>
	<string>alq-gp</string>
	<key>STORAGE_BUCKET</key>
	<string>alq-gp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497430701190:ios:bf94b0fc6983916f7c9d07</string>
	<key>DATABASE_URL</key>
	<string>https://alq-gp-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>